@import url(./../../App.css);

.app__section-task-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    border-radius: 0.8rem;
    background: var(--fundo-card);
    margin-bottom: 0.8rem;
    padding: 1.6rem;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  .app__section-task-list-item-description {
    flex-grow: 1;
    margin: 0;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    color: var(--azul-profundo);
    font-family: Montserrat;
  }
  
  .app__section-task-list-item-complete.app__section-task-list-item {
    background: var(--fundo-card-concludo);
    cursor: inherit;
  }
  
  .app__section-task-list-item-active.app__section-task-list-item {
    border: 2px solid #FFF;
  }
  
  .app__section-task-list-item-complete .app__section-task-icon-status circle {
    fill: #00F4BF;
  }